
/* FUENTES PERSONALIZADAS */
@font-face {
    font-family: ''; /*nombre de tipografia entre comillas*/
    src: url('') format(''); 
}

/* VARIABLES */
:root {}


*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Epilogue', cursive;
}

body {
     background: #231f20;
}

h1, h2, h3, h4 {

    font-family: 'Lexend Deca', cursive;
    font-weight: normal;
}

h1, h2 {
    font-size: 60px;
}

h3 {
    font-size: 48px;  
}

a {
    text-decoration: none;
    color: white;
}

/****** Logo Animation ********/

.containerTotal {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #231f20;
    overflow: hidden;
    transition: 1s;
    display: none; /*****/
}

.logoContainerTotal {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #231f20;
}

.target {
    width: 100px;
    height: 200px;
    margin-right: 20px;
    position: relative;
    left: -50%;
    opacity: 0;
    transition: 1s;
}

.uno {
    background: white;
}

.dos {
    background: #fa5800; 
}

.tres {
    background: #225bb8;
}

.cuatro {
    background: #f9b60c;
}

/****** Logo Animation End ********/


.logo {
    width: 280px;
    height: 40px;
    position: absolute;
    top: 5%;
    left: 2%;
    z-index: 10;
    transition: 1s;
    /*display: none;*/ /***/
}

.logo img {
    object-fit: cover;  
}

.container {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    scroll-behavior: smooth;
    overflow: auto;
     -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */  
     position: relative;
     transition: 1s;
     transition-timing-function: ease-in-out;
}

nav {
    height: 80px;
    width: 100%;
    position: sticky;
    left: 0;
    background: #231f20;
}

.linkContainer {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.linkContainer a {

    font-size: 25px;
    margin-left: 60px;
    transition: 0.5s;
}

.linkContainer a:hover {
    color: #fa5800;
    transition: 0.5s;
}

.linkSelected {
    color: #fa5800;
    transition: 0.5s;
}

.container::-webkit-scrollbar {
    display: none;
}


section {
    left: 0;
    transition: 1s;
     transition-timing-function: ease-in-out;
}

.firstSection{
    height: 100%;
    width: 170%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    border-right: 1px solid white;   
    background: url('../rsc/img/fondoGrid.png');
    opacity: 0;
    transition: 1s;
    /*display: none;*/ /*****/
}


.wrapper {
    width: 2056px;
    height: 100%;
    background: url('../rsc/img/fondoMain.webp');
    background-size: cover;
    background-position: center; 
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: repeat(5, 1fr); 
    position: relative;
    z-index: 0;
    transition: 1s;
}

.wrapperAnchor {
    width: 50px;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 1343px;    
}

.whoWeAre {
    width: calc(100% - 2056px);
    height: 100%;
    background: #fa5800;
}

.whoWeCont {
    width: 1626px;
    height: 600px;
    position: relative;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerWheWeAre {
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
}

.first {
    justify-content: flex-start;
}

.second {
    justify-content: center;
}

.third {
    justify-content: flex-end;
}

.wwaTextContainer {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wwaTextContainer h1, .wwaTextContainer h2 {
    width: 45%;
    color: white;
}

.secondTitle {
    width: 30%!important;
}

.spanContainer {
    width: 55%;
    height: 105px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.secondSpan {
    width: 65%;
}

.spanContainer span {
    opacity:0;
    position: relative;
    font-weight: 400;
    top: 50%;
    transition: 1s;
}

.firstTitle, .secondTitle, .thirdTitle {
    position: relative;
   /* left: -50%;*/
    opacity: 0;
    transition: 1s;
}

/******** First Sec End ********/


/******** Second Section *******/

.secondSection {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    position: relative;
    border-left: 1px solid white;  
    border-right: 1px solid white;  
    overflow: hidden; 
    /*display: none;*//******/

}

.secondSecContainer {
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.secOne {
    background: url('../rsc/img/section2back1.webp');
    background-size: cover;
    background-position: fixed;
}

.secTwo{
    background: url('../rsc/img/section2back2.webp');
    background-size: cover;
    background-position: center bottom;
    position: absolute;
    z-index: 3;
    top: 706px;  
}

.secThree {
    background: url('../rsc/img/section2back3.webp');
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 3;
    top: 756px;     
}

.secFour {
    background: url('../rsc/img/section2back4.webp');
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 4;
    top: 806px;  
}

.sectionIndex {
    width: 100%;
    height: 50px;
    color: white;
    background: #231f20;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 22px;
}

.sectionIndex p {
    padding-left: 50px;
}

.indexText {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.indexKnow {
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid white;
    font-size: 18px;
    font-weight: bold;
    transition: 1s ease-in-out;
}

.moreToKnow, .indexText {
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.moreToKnow:hover, .indexText:hover{
    color: #fa5800; 
    transition: 0.5s;
}

.indexNone {
    display: none;
    transition: 1s ease-in-out;
}

.secondSectionContent {
    width: 445px;
    height: 425px;
    position: relative;
    top: 100px;
    left: 150px;
}

.seconSectContentLogo {
    width: 100%;
    height: 140px;
    display: flex;
}

.seconSectContentText {
    width: 418px;
    height: 285px;
    font-size: 25px;
    line-height: 32px;
}

.indexLogoSecondSection {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
}

.indexLogoSecondSection img {
    height: 75%;
}

.indexLogoSecondSection h3 {
    font-family: 'Epilogue', cursive;
    font-weight: 500;
}

.secondSectButton {
    width: 128px;
    height: 64px;
    background: #f9b60c;
    position: relative;
    left: 85%;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 100px / 50px;
    color: #231f20;
    border: 2px solid white;
    transition: 1s;
    cursor: pointer;
}

.secondSectButton:hover {
    border: 2px solid #ffff;
    background: #231f20;
    color: #f9b60c;
    transition: 1s;
}


/******** Second Section END *******/

/******** Third Section     *******/

.thirdSection {
    height: 100%;
    width: 100%;
    background: dodgerblue;
    flex-shrink: 0;
    position: relative;
    top: 0;
    border-left: 1px solid white;  
    border-right: 1px solid white!important;   
    overflow: hidden;
    /*display: none;*//******/
}

.arroww {
    position: absolute;
    top: 135px;
    right: 210px;
    font-size: 10px;
    height: 100%;
    width: 20px;
    z-index: 15;   
}

.arroww img {
    width: 100%;
    height: 60%;
    transition: 1s;
}

.arrowButton {
    position: absolute;
    bottom: 110px;
    right: 145px;
    width: 145px;
    height: 65px;
    border-radius: 100px / 50px;
    background: #f9b60c;
    color: #231f20;
    border: 2px solid white;
    z-index: 15; 
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.arrowButtonTop {
    position: absolute;
    top: 50px;
    right: 145px;
    width: 145px;
    height: 65px;
    border-radius: 100px / 50px;
    border: 2px solid white;
    z-index: 15; 
    cursor: pointer;
    color: white;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    transition: 1s;
    cursor: none;
}

.arrowButton p, .arrowButtonTop p  {
    font-size: 16px;
    transition: 1s;
}

.arrowButton:hover, .arrowButtonTop:hover{
    border: 2px solid white;
    background: #231f20;
    color: #f9b60c;
    transition: 1s;
}

.arrowButton p:hover, .arrowButtonTop p:hover {
    color: #f9b60c;
    transition: 1s;
}
.buttonText {
    text-align: center;
    transition: 1s;
}

.thirdSectionContainer {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1s;
}

.sec3one {
    width: 100%;
    height: 100%;
    background-position: center;
    position: relative;
    top: 0;
}

#myVideo {
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
}

.sec3two {
    width: 100%;
    height: 100%;
    background: url('../rsc/img/section3back1.webp');
    background-size: cover;
    position: relative;
    top: 0;
}

.sec3three {
    width: 100%;
    height: 100%;
    background: url('../rsc/img/section3back2.webp');
    background-size: cover;    
    position: relative;
    top: 0;
}

.careersTextCont {
    width: 950px;
    height: 400px;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.careerHeading {
    width: 100%;
    height: 126px;
}

.careerHeading h2 {
    font-size: 170px;
    line-height: 123px;
    color: white;
}

.careerHeading3 {
    width: 100%;
    height: 52px;
}

.careerHeading3 h3 {
    font-size: 58px;
    line-height: 51px;
    color: #f9b60c;
}

.careerText {
    width: 704px;
    height: 114px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.careerText p {
    font-size: 20px;
    color: white;
    line-height: 25px;
}

.careerHeading h3 {
    font-size: 70px;
}

.careersTextCont2 {
    width: 950px;
    height: 622px;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.careersTextCont2Title {
    width: 100%;
    height: 63px;
}

.careersTextCont2Title h3 {
    font-size: 70px;
    line-height: 84px;
}

.h4container {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.h4container h4 {
    font-size: 30px;
    line-height: 36px;
    color: #f9b60c;
    font-weight: 400;
}

.opportunitiesContainer {
    width: 740px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
}

.opContent {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.opContenth4 {
    width: 100%;
    height: 30px;
}

.opContenth4 h4 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600; 
    font-family: 'Epilogue', cursive;
}

.opContentDesc {
    width: 85%;
    height: 68px;
}

.opContentDesc p {
    font-size: 20px;
    line-height: 24px;
    color: #4d4d4d;
}

.opContentCTA {
    width: 85%;
    height: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.opContentCTA p {
    text-decoration: underline;
    color: #999999;
    font-size: 15px;
    line-height: 18px;
    cursor: pointer;
}

.black {
    color: #231f20;
}

.orange {
    color: #f85800;
}

.blue {
   color: #225bb8;
}

.yellow {
    color: #f9b60c;
}


/******** Third Section END *******/
/******** Fourth Section *******/

.fourthSection {
    height: 100%;
    width: 100%;
    background: white;
    flex-shrink: 0;
    position: relative;
    border-left: 1px solid white;  
    border-right: 1px solid white;  
    overflow: hidden;
}

.fourthSectionContent {
    background: url('../rsc/img/section4back1.webp');
    width: 100%;
    height: 100%;
    transition: 1s;
}

.fourthSectionText {
    width: 620px;
    height: 395px;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}

.fourthMainTitle {
    width: 100%;
    height: 178px;
}

.fourthMainTitle h2 {
    width: 95%;
    font-size: 50px!important;
    line-height: 60px!important;
    color: white;
}

.fourthMainText {
    width: 100%;
    height: 86px;
}

.fourthMainText p {
    font-size: 25px;
    line-height: 30px;
    color: white;
}

.fourthMainLink {
    width: 80%;
    height: 35px;  
    display: flex;
    justify-content: flex-end;
}

.fourthMainLink p {
    color: white;
    cursor: pointer;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 2px solid white;
    width: 158px;
}

.fourthSectionIndexContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
}

.fourthSecIndex {
    width: 60px;
    height: 100%;
    border: 1px solid white;
    background: rgba(0,0,0,0.9);
    transition: 1s;
}

.viewRelated {
    width: 100%;
    height: 250px;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewRelated p {
    -ms-writing-mode: tb-lr; /* for IE */
    -webkit-writing-mode: vertical-lr; /* for Webkit */
    writing-mode: vertical-lr;
    text-orientation: sideways;
    -webkit-text-orientation: sideways; /* for Webkit */   
    color: white;
    transform: rotate(180deg);
    font-family: 'Epilogue', sans-serif;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 1s;
}

.viewRelated p:hover {
    color: #f85800;
    transition: 1s;
}

.fourthIndexTitle {
    width: 100%;
    height: calc(100% - 250px);
}

.fourthIndexNumber {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourthIndexNumber p{
    -ms-writing-mode: tb-lr; /* for IE */
    -webkit-writing-mode: vertical-lr; /* for Webkit */
    writing-mode: vertical-lr;
    text-orientation: sideways;
    -webkit-text-orientation: sideways; /* for Webkit */   
    color: white;
    transform: rotate(180deg);
    font-family: 'Epilogue', sans-serif;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
}

.fourthIndexName p {
    -ms-writing-mode: tb-lr; /* for IE */
    -webkit-writing-mode: vertical-lr; /* for Webkit */
    writing-mode: vertical-lr;
    text-orientation: sideways;
    -webkit-text-orientation: sideways; /* for Webkit */   
    color: white;
    transform: rotate(180deg);
    font-family: 'Lexend Deca', cursive;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
}

.fSectionDinamicTitle {
    transition: 1s;
    cursor: pointer;   
}

.fourthIndexName {
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
    cursor: pointer;
}

/******** Fourth Section END*******/
/************** Footer ************/

footer {
    height: 100%;
    width: 1200px;
    background: black;
    flex-shrink: 0;
    position: relative;
    border-left: 1px solid white;   
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer {
    height: 800px;
    width: 800px;
    background: #eeece6;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerTextContainer {
    width: 550px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerTextContSectionOne {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footerTextContSectionTwo {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footerTopLeft, .footerTopRight {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footerBottomLeft, .footerBottomRight {
    width: 100%;
    height: 30%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.footerTextContSectionOne h3, .footerTopRight h3, .footerBottomRight h3{
    font-size: 40px;
    line-height: 35px;
}  

.linksContainer {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.linksContainer p {
    font-size: 14px;
    line-height: 16px;
    color: #231f20;
    font-weight: 700;
    transition: 1s;
}

.linksContainer p:hover {
    color:#f85800;
    transition: 1s;
}

.footerTopRight img {
    width: 100%;
}

.footerContactCont {
    margin-top: 57px;
}

.contactContainer {
    width: 100%;
    height: 100px;
}

.contactDiv {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.ctc {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.ctcInfo {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 2px;
}

.ctc h4{
    font-size: 25px;
    line-height: 30px;
}

.smLogoCont {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    display: flex;
    width: 100%;
    height: 40px;
}

input {
    height: 40px;
    width: 80%;
    background: #ff6647;
    border: none;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
    font-family: 'Lexend Deca', cursive;
} 

#send {
    height: 40px;
    width: 20%;
    background: #ff6647;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.5s;
    font-size: 18px;
    line-height: 22px;
}


#send:hover {
    font-size: 22px;
    transition: 0.5s;
}

input::placeholder{
    color: white;
    font-family: 'Lexend Deca', cursive;
    font-size: 20px;
    line-height: 18px;
}

.allRights {
    margin-top: 80px;
}

.allRights p {
    font-size: 15px;
}




/************ Footer END **********/


/* MEDIA QUERIES */

/* SMART TV */
@media screen and (min-width: 1921px) {} 
/* DESKTOP */
@media screen and (max-width: 1680px) {

/*Nav & Container*/
nav {
    height: 70px;
}
.container {
    height: calc(100vh - 70px);
}
/*First Section*/
.firstSection {
    width: 190%;
}
.whoWeCont {
    left: 28%;
}
/*Second Section*/
.secTwo {
    top:686px;
} 
.secThree {
    top:736px;
} 
.secFour {
    top:786px;
} 

}  /* End (max-width: 1680px) */

/* laptop */
@media screen and (max-width: 1600px) {
/*General*/
h1, h2 {
    font-size: 50px;
}

.logo img {
    width: 80%;
}

/*Nav & Container*/
nav {
    height: 60px;
}
.linkContainer a {
    font-size: 20px;
}
.container {
    height: calc(100vh - 60px);
}
/*First Section*/
.spanContainer {
    font-size: 25px;
}
.wwaTextContainer {
    height: 100%;
    width: 70%;
}
.whoWeCont {
    width: 1414px;
}

/*Second Section*/
.indexLogoSecondSection img {
    height: 65%;
}

.seconSectContentText {
    font-size: 22px;
    line-height: 30px;
}

.secondSectionContent {
    width: 445px;
    height: 376px;
}

.sectionIndex {  
    height: 35px;
}

.secTwo {
    top: 592px;
}

.secThree {
    top: 627px;
}

.secFour {
    top: 662px;
}

/*Third Section*/
.careerHeading h2 {
    font-size: 150px;
}

.careerHeading3 h3 {
    font-size: 54px;
}

.arroww img {
    height: 58%;
}

.arrowButton {
    bottom: 70px;
}

/*footer*/
.footerContainer {
    height: 650px;
    width: 650px;
}

.footerTextContainer {
    width: 457px;
    height: 420px;
}

.allRights {
    margin-top: 19px;
}

.footerTextContSectionOne h3, .footerTopRight h3, .footerBottomRight h3 {
    font-size: 32px;
    line-height: 32px;
}

.smLogoCont, .smLogoCont img {
    height: 30px;
}

.smLogoCont a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctc h4 {
    font-size: 20px;
    line-height: 26px;
}

input {
    height: 30px;
}

#send {
    height: 30px;
}

input::placeholder{
    font-size: 18px;
    line-height: 16px;
}

.inputContainer {
    height: 30px;
}

}/* End (max-width: 1600px) */


/* laptop */
@media screen and (max-width: 1536px) {} 
/* laptop */
@media screen and (max-width: 1440px) {}  
/* laptop */
@media screen and (max-width: 1400px) {} 
/* laptop */
@media screen and (max-width: 1366px) {}
/* laptop */
@media screen and (max-width: 1280px) {}
/* laptop */
@media screen and (max-width: 1152px) {}
/* laptop */
@media screen and (max-width: 1024px) {}
/* tablet */
@media screen and (max-width: 800px) {}
/* tablet */
@media screen and (max-width: 768px) {}
/* smat phone */
@media screen and (max-width: 478px) {}
/* Smart watch */
@media screen and (max-width: 320px) {}

